body {
    font-size: 20px;
    font-family: verdana;
    margin: 10px;
    border: 3px solid #6b7eb3;
    border-bottom: none;
}

header {
    background-color: #303838; 
    padding: 15px;
}

div {
    height: 40px;
}


header ul {
    color: #6b7eb3;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header ul li {
    margin: 10px;
}

nav p {
    background-color: #6b7eb3;
    padding: 80px 20px 20px 20px;
    margin-left: 0px;
    border: 0px solid;
    width: fit-content;
    font-size: 40px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 18px;
    bottom: 57px;
}

.links {
    border-bottom: 4px solid #6b7eb3;
    padding: 10px;
    position: relative;
    bottom: 50px;
}

.subtitle {
    background-image: url(./images/bluebackground2.webp);
    padding: 40px;
    background-size: cover;
    /* display:flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.please {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

h1 {
    background-color: #6b7eb3;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    text-align: end;
    position: relative;
    top: 50px;
}

header li:hover {
    cursor: pointer;
    color: rgb(219, 102, 121);
}

span {
    font-size: 18px;
    display: block;
    padding-top: 10px;
    font-style: italic;
}

.projects {
    display: flex;
    flex-direction: row;
}

.showcase {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

main ul {
    list-style: none;
}

.information {
    width: 80%;
    border-left: 3px solid;
    padding: 10px;
    margin: 10px;       
}

.information ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titles {
    color: #6b7eb3;
    font-size: 35px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#contact-me li:hover {
    cursor:pointer;
    color: rgb(219, 102, 121);
}

.sections {
    border: 8px solid #6b7eb3;
    border-radius: 10px;
    padding: 80px;
}

/* .biggest {
    display: flex;
    width: 80%;
} */

.biggest p {
    position: relative;
    right: 84px;
    top: 65px;
}

.not-sure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.not-sure p {
    position: relative;
    right: 13px;
    top: 65px;
}

.other {
    width: 25%;
    padding-left: 10px;
    padding-right: 190px;
}

#surf-report {background-image: url(./images/surf.jpeg);
    background-size: cover;
    background-position: center;}
#led-wall {background-image: url(./images/lazer-maze-scaled.webp);
    background-size: cover;
    background-position: center;}
#calculator {background-image: url(./images/calc.jpg);
    background-size: cover;
    background-position: center;}
#pastel-puzzles {background-image: url(./images/Jigsaw_puzzle_01_by_Scouten.jpg);
    background-size: cover;
    background-position: center;}
#run-buddy {background-image: url(./images/running.jpg);
    background-size: cover;
    background-position: center;}

.sections p {
    background-color: #6b7eb3;
    width: fit-content;
    padding: 8px;
    border-radius: 5px; 
}

#profiles a {
    border-bottom: 4px solid #6b7eb3;
    padding: 3px;
}

#profiles li {
    border-bottom: 4px solid #6b7eb3;
    padding: 3px;
}

a {
    color: black;
}

#profiles a {
    color: #6b7eb3;
}

.links a {
    color: #6b7eb3;
}

.sections:hover a {
    font-size: 90%;
    color:rgb(219, 102, 121);
}
    

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(219, 102, 121);
}

#profiles a:hover {
    color: rgb(236, 128, 146)
}

@media screen and (max-width: 992px) {
    
    #profiles {
        display: block;
    }

    #profiles li {
        border-bottom: 10px;
        line-height: 30px;
    }
  }

  @media screen and (max-width: 930px) {
    .navigation ul {
        width: 830px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0px;
        height: 300px;
        padding-top: 0px;
        position: relative;
        bottom: 70px;
    }

  }